<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>登录页面</title>
  </head>

  <body>
s
    <div class="container">

      <form  action="/" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading"><center> 用户登录 </center></h2>
        <input type="login" class="form-control" placeholder="用户名" name="login" required autofocus>
        <input type="password" class="form-control" placeholder="密码"  name="password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div>



  </body>
</html>
