<!DOCTYPE html>
        <html lang="zh-cn">
<html>
<head>
    <title></title>
</head>
<body>

 <form  action="/user/push_article" method="post" class="form-signin" role="form">

 <input type="push_article_catlog1" class="form-control" placeholder="一级分类"  name="push_article_catlog1" required>
 <input type="push_article_catlog2" class="form-control" placeholder="二级分类"  name="push_article_catlog2" required>
 <input type="push_article_title" class="form-control" placeholder="文章名" name="push_article_title" required autofocus>
 <input type="push_article_author" class="form-control" placeholder="作者（账号）"  name="push_article_author" required>
 <input type="push_article_text" class="form-control" placeholder="内容"  name="push_article_text" required>
 <input type="push_article_info" class="form-control" placeholder="备注信息"  name="push_article_info" required>

 <button class="btn btn-lg btn-primary btn-block" type="submit">   push_article    </button>

 </form>
</body>
</html>